/*********************************TAG SELECTOR***************************/
body{
  font-family:  'Montserrat', sans-serif;;
}

h1{
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 1.5;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
}

p{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: #8f8f8f;
}
/*********************************CLASS SELECTOR***************************/
.gopal{
    padding: 0;
}

.container-fluid {
    padding: 3% 15%;
}
/*Navigation Bar*/
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: Montserrat, sans-serif;
}

/*Download Button*/
.download-button{
    margin: 5% 3% 5% 0;
}

/*Title Image*/
.title-Image{
    width: 60%;
    transform: rotate(25deg);
}

.features-image{
    color: #EF8172;
    margin-bottom: 1rem;
}

.features-image:hover{
    color: #ff4c68;
}

.features-box{
    text-align: center;
    padding: 5%;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
.pricing-column{
    padding: 3% 2%;
    text-align: center;
}
/*********************************ID SELECTOR***************************/
#title{
    background-color: #ff4c68;
    color: white;
}

#features{
    padding: 5% 16%;
}

#testimonials{
    text-align: center;
    color: white;
    background-color: #EF8172;
}

#press{
    background-color: #EF8172;
    text-align: center;
    padding-bottom: 3%;
}

#pricing{
    padding: 100px;
}